.home_main{

    .header{

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .main_block{

        margin-top: 2rem;
        padding: 15px;

        .title_block{

            display: flex;
            align-items: center;
            justify-content: space-between;

            .left{

                .main_title{
            
                    font-weight: 400;
                    color: #413b3b;
                    margin-top: 10px;
                    letter-spacing: 1px;
                }
            }


        }
  

        .card_block{

            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 40px 20px;
            flex-wrap: wrap;

            @import "../common/Card/TodoCard.scss";
        }

        @import "../common/Form/form.scss";

    }

}